<div class="nav-bar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand px-1" href="/">Library Software</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/issue-item">Issue Item</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/search/Item">Search Item</a>
        </li>
      </ul>

    </div>
    <div class="px-4">
      <span style="cursor: pointer" (click)="handleLogout()"><b>{{username}}</b></span>
    </div>
  </nav>
</div>
