/* Place in your CSS file at the top of the document */

@import url('https://fonts.googleapis.com/css2?family=Smythe&display=swap');
a {
  font-family: 'Smythe', cursive;
  background: #121FCF;
  background: linear-gradient(to right, #121FCF 0%, #CF3934 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-decoration: none;
  font-size: 25px;
}
.home-page{
  margin: 20px;
  border: 4px solid black;
  display: flex;
}
.home-page-top{
  margin-top: 10px;
}
.home-page-top-op{
  margin: 10px;
}
.home-page-top-op-title{
  color: deepskyblue;
}
.operations-box{
  display: flex;
}
.op-card{
  border: 2px solid black;
  margin: 10px;
  padding: 5px  ;
}
.op-card:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.items{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px; /* Adjust spacing as needed */
  overflow: hidden;
}
.pending-items-pagination{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-btn {
  padding: 8px 16px;
  margin: 0 4px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  border-radius: 4px;
}

.pagination-btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination-pages {
  display: flex;
}

.page-number {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  border-radius: 4px;
}

.page-number.active {
  background-color: #007bff;
  color: #fff;
}

